*
{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Baloo Chettan 2', cursive;
}
header{
    background-color: #6647BF;
    width: 100%;
    height: 100px;

}
a {
    text-decoration: none;
}
.logo
{
    font-size: 42px;
    text-align: center;
    display: block;
    margin: auto 1%;
    padding: 15px 0;
    font-weight: normal;
    width: fit-content;
}